@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Outfit";
    font-size: 15px;
    --White: hsl(0, 0%, 100%);
    --Slate300: hsl(212, 45%, 89%);
    --Slate500: hsl(216, 15%, 48%);
    --Slate900: hsl(218, 44%, 22%);
}

#wrapper{
    background-color: var(--Slate300);
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main{
    background-color: var(--White);
    width: 375px;
    padding: 20px;
    border-radius: 15px;
}

img{
    width: 100%;
    border-radius: 15px;
}

h1{
    text-align: center;
    color: var(--Slate900);
    margin: 15px 12px;
    font-size: 1.6rem;
}

p{
    color: var(--Slate500);
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}